<h1>Listing dudes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dudes.each do |dude| %>
      <tr>
        <td><%= dude.name %></td>
        <td><%= link_to 'Show', dude %></td>
        <td><%= link_to 'Edit', edit_dude_path(dude) %></td>
        <td><%= link_to 'Destroy', dude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dude', new_dude_path %>
