<%= form_for(@items_dude) do |f| %>
  <% if @items_dude.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@items_dude.errors.count, "error") %> prohibited this items_dude from being saved:</h2>

      <ul>
      <% @items_dude.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_items %><br>
    <%= f.number_field :id_items %>
  </div>
  <div class="field">
    <%= f.label :id_dudes %><br>
    <%= f.number_field :id_dudes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
