<h1>Listing items_dudes</h1>

<table>
  <thead>
    <tr>
      <th>Id items</th>
      <th>Id dudes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items_dudes.each do |items_dude| %>
      <tr>
        <td><%= items_dude.id_items %></td>
        <td><%= items_dude.id_dudes %></td>
        <td><%= link_to 'Show', items_dude %></td>
        <td><%= link_to 'Edit', edit_items_dude_path(items_dude) %></td>
        <td><%= link_to 'Destroy', items_dude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items dude', new_items_dude_path %>
