<p id="notice"><%= notice %></p>

<p>
  <strong>Id items:</strong>
  <%= @items_dude.id_items %>
</p>

<p>
  <strong>Id dudes:</strong>
  <%= @items_dude.id_dudes %>
</p>

<%= link_to 'Edit', edit_items_dude_path(@items_dude) %> |
<%= link_to 'Back', items_dudes_path %>
